<div id="page_content">
	<a class="hide" id="update_recent_tables" href="index.php?ajax_request=1&amp;recent_table=1&amp;token=2fbaa8eea68394d4790ab0027f084a24"></a>
	<form method="post" action="tbl_structure.php" name="fieldsForm" id="fieldsForm" class="ajax HideStructureActions">
		<input type="hidden" name="db" value="blog2"><input type="hidden" name="table" value="auth_group"><input type="hidden" name="token" value="2fbaa8eea68394d4790ab0027f084a24"><input type="hidden" name="table_type" value="table">
		<table id="tablestructure" class="data"  style="width: 95%;">
		<thead>
		<tr>
			<th>
			</th>
			<th>
				#
			</th>
			<th>
				名字
			</th>
			<th>
				类型
			</th>
			<th>
				排序规则
			</th>
			<th>
				可否重复
			</th>
			<th>
                可否为空
			</th>
			<th>
				是否限定
			</th>
			<th>
				限定表字段
			</th>
			<th colspan="8" class="action">
				操作
			</th>
		</tr>
		</thead>
		<tbody>
		<tr class="odd">
			<td class="center">
				<input type="checkbox" class="checkall" name="selected_fld[]" value="id" id="checkbox_row_1">
			</td>
			<td class="right">
				1
			</td>
			<th class="nowrap">
				<label for="checkbox_row_1"><u>id</u></label>
			</th>
			<td class="nowrap">
				<bdo dir="ltr" lang="en">int(11)</bdo>
			</td>
			<td>
			</td>
			<td class="column_attribute nowrap">
			</td>
			<td>
				否
			</td>
			<td class="nowrap">
				<i>无</i>
			</td>
			<td class="nowrap">
				AUTO_INCREMENT
			</td>
			<td class="edit center">
				<a class="change_column_anchor ajax" href="tbl_structure.php?db=blog2&amp;table=auth_group&amp;token=2fbaa8eea68394d4790ab0027f084a24&amp;goto=tbl_structure.php&amp;back=tbl_structure.php&amp;field=id&amp;change_column=1"><span class="nowrap"><img src="/static/reporting/dot.gif" title="修改" alt="修改" class="icon ic_b_edit"> 修改</span></a>
			</td>
			<td class="drop center">
				<a class="drop_column_anchor ajax" href="sql.php?db=blog2&amp;table=auth_group&amp;token=2fbaa8eea68394d4790ab0027f084a24&amp;goto=tbl_structure.php&amp;back=tbl_structure.php&amp;sql_query=ALTER+TABLE+%60auth_group%60+DROP+%60id%60%3B&amp;dropped_column=id&amp;message_to_show=%E5%B7%B2%E5%88%A0%E9%99%A4%E5%AD%97%E6%AE%B5+id"><span class="nowrap"><img src="/static/reporting/dot.gif" title="删除" alt="删除" class="icon ic_b_drop"> 删除</span></a>
			</td>

		</tr>
		<tr class="even">
			<td class="center">
				<input type="checkbox" class="checkall" name="selected_fld[]" value="name" id="checkbox_row_2">
			</td>
			<td class="right">
				2
			</td>
			<th class="nowrap">
				<label for="checkbox_row_2">name</label>
			</th>
			<td class="nowrap">
				<bdo dir="ltr" lang="en">varchar(80)</bdo>
			</td>
			<td>
				<dfn title="Unicode (多语言), 不区分大小写">utf8_general_ci</dfn>
			</td>
			<td class="column_attribute nowrap">
			</td>
			<td>
				否
			</td>
			<td class="nowrap">
				<i>无</i>
			</td>
			<td class="nowrap">
			</td>
			<td class="edit center">
				<a class="change_column_anchor ajax" href="tbl_structure.php?db=blog2&amp;table=auth_group&amp;token=2fbaa8eea68394d4790ab0027f084a24&amp;goto=tbl_structure.php&amp;back=tbl_structure.php&amp;field=name&amp;change_column=1"><span class="nowrap"><img src="/static/reporting/dot.gif" title="修改" alt="修改" class="icon ic_b_edit"> 修改</span></a>
			</td>
			<td class="drop center">
				<a class="drop_column_anchor ajax" href="sql.php?db=blog2&amp;table=auth_group&amp;token=2fbaa8eea68394d4790ab0027f084a24&amp;goto=tbl_structure.php&amp;back=tbl_structure.php&amp;sql_query=ALTER+TABLE+%60auth_group%60+DROP+%60name%60%3B&amp;dropped_column=name&amp;message_to_show=%E5%B7%B2%E5%88%A0%E9%99%A4%E5%AD%97%E6%AE%B5+name"><span class="nowrap"><img src="/static/reporting/dot.gif" title="删除" alt="删除" class="icon ic_b_drop"> 删除</span></a>
			</td>

		</tr>
		</tbody>
		</table>
	</form>
	<hr>
	<br>
	<form method="post" action="tbl_addfield.php" id="addColumns" name="addColumns" onsubmit="">
		<input type="hidden" name="db" value="blog2"><input type="hidden" name="table" value="auth_group"><input type="hidden" name="token" value="2fbaa8eea68394d4790ab0027f084a24"><img src="/static/reporting/dot.gif" title="添加字段" alt="添加字段" class="icon ic_b_insrow">添加 <input type="text" name="num_fields" size="2" maxlength="2" value="1" onfocus="this.select()"> 个字段
		<input type="submit" value="执行">
	</form>
</div>