<h1>
    选择需要上传的文件
</h1>
<table class="msrs-normalwithmargin" width="100%" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td colspan="6" class="msrs-normal" valign="top">
                上载报表定义以替换 {{ res.currentpage.name }} 的定义。
            </td>
        </tr>
        <tr>
            <td valign="top">
                <img src="/static/reporting/blank.gif" height="8" width="1" border="0">
            </td>
        </tr>
        <tr>
            <td class="msrs-label" valign="top">
                名称:
            </td>
            <td width="5" valign="top">
                <img src="/static/reporting/blank.gif" height="0" width="5">
            </td>
            <td colspan="3" class="msrs-normal" valign="top">
                {{ res.currentpage.name }}
            </td>
        </tr>
        <tr>
            <td valign="top">
                <img src="/static/reporting/blank.gif" height="2" width="1" border="0">
            </td>
        </tr>
        <tr>
            <td class="msrs-label" valign="top" nowrap="nowrap">
                要上载的文件:
            </td>
            <td width="5" valign="top">
                <img src="/static/reporting/blank.gif" height="0" width="5">
            </td>
            <td valign="top">
                <input name="ui_fiImport" id="ui_fiImport" style="font-family:Verdana, Sans-Serif;font-size:x-small;width:300px;"
                title="指定要在报表服务器中发布或存储的文件。" maxlength="1048576" type="file">
            </td>
            <td width="5" valign="top">
                <img src="/static/reporting/blank.gif" height="0" width="5">
            </td>
            <td colspan="5" width="100%" valign="top">
            </td>
        </tr>
        <tr>
            <td valign="top">
                <img src="/static/reporting/blank.gif" height="8" width="1" border="0">
            </td>
        </tr>
        <tr>
            <td colspan="5" valign="top">
                <input name="ui_btnSaveImportCtrl" value="确定" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ui_btnSaveImportCtrl&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))"
                id="ui_btnSaveImportCtrl" class="msrs-button" style="width:75px;" type="submit">
                <img src="/static/reporting/blank.gif" height="1" width="10" border="0">
                <input name="ui_btnCancelImportCtrl" value="取消" id="ui_btnCancelImportCtrl"
                class="msrs-button" style="width:75px;" type="submit">
            </td>
        </tr>
    </tbody>
</table>