body {
    font-size: 12px;
    font-family: Verdana,"Segoe UI",Helvetica,Sans-Serif;
    color: #232323;
    background-color: #fff;
    margin: 0
}

.mwith {
    width: 980px;
    margin: 0 auto
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden
}

.fl {
    float: left
}

.fr {
    float: right
}

.hidden {
    display: none
}

a {
    outline: none
}

#QuestionLink {
    background-color: #edf6fd;
    margin-top: 20px;
    padding-bottom: 40px
}

#QuestionLink .q {
    float: left;
    width: 669px
}

#QuestionLink .q .ptitle {
    background: url(/Content/image/qlptitle1.png) no-repeat left top;
    margin-top: 27px;
    margin-left: 11px;
    height: 24px
}

#QuestionLink .q .ptitle a {
    display: block;
    height: 24px;
    width: 200px
}

#QuestionLink .q .item {
    width: 223px;
    float: left;
    font-size: 12px;
    line-height: 22px;
    height: 128px;
    overflow: hidden
}

#QuestionLink .q .item .title {
    color: #0065ca;
    margin-left: 11px;
    margin-top: 12px;
    height: 23px;
    overflow: hidden
}

#QuestionLink .q .item .cont {
    margin-top: 2px;
    margin-left: 11px;
    font-size: 12px;
    height: 90px;
    line-height: 18px
}

#QuestionLink .l {
    padding-right: 10px;
    float: right;
    width: 300px;
    overflow: hidden
}

#QuestionLink .l .ptitle {
    background: url(/Content/image/qlptitle2.png) no-repeat left top;
    margin-top: 27px;
    margin-left: 14px;
    height: 24px
}

#QuestionLink .l .item {
    width: 95px;
    height: 40px;
    float: left
}

#ylink {
    border: dashed 1px #ccc;
    border-left: none;
    border-right: none;
    line-height: 42px;
    height: 42px;
    position: relative
}

#ylink #linktitle {
    position: absolute;
    top: 0;
    left: 5px;
    width: 76px;
    color: #666
}

#ylink #linklist {
    top: 0;
    right: 0;
    position: absolute;
    width: 900px;
    height: 42px;
    overflow: hidden
}

#ylink #linklist .linkcont {
    top: 0;
    left: 0;
    position: absolute
}

#ylink #linklist .linkcont a {
    display: block;
    float: left;
    padding-right: 16px;
    height: 42px;
    color: #666;
    text-decoration: none;
    white-space: nowrap
}

#ylink #linklist .linkcont a:hover {
    color: #333
}

#footer {
    height: 66px;
    background-color: #0066cb
}

#footer .flogo {
    height: 32px;
    background: url('/content/image/55_logo.png') 880px bottom no-repeat;
    margin-right: 10px;
    text-align: right
}

#footer .flogo img {
    margin-top: 12px
}

#footer .fleft {
    float: left;
    padding-left: 10px
}

#footer .fright {
    float: right;
    padding-right: 10px;
    color: #fff;
    font-size: 12px;
    padding-top: 6px
}

#header_bg {
    height: 238px;
    background-color: #0066cb;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1
}

.top {
    height: 105px
}

.top .logo {
    height: 100%;
    width: 207px;
    background: url(/Content/image/logo.jpg) left 24px no-repeat
}

.top .bdserch {
    padding-top: 36px
}

.top .bdserch form {
    margin: 0
}

.top .bdserch #kw {
    margin: 0;
    width: 420px;
    height: 14px;
    line-height: 14px;
    padding: 8px 5px;
    padding: 9px 7px 7px\7;
    font: 14px arial;
    vertical-align: top;
    outline: none;
    border: solid 1px #fff;
    border-right-color: #ccc
}

.top .bdserch #su {
    cursor: pointer;
    width: 90px;
    height: 32px;
    line-height: 32px;
    border: 0;
    background-color: #f6f6f6;
    font: 14px arial;
    color: #333;
    outline: none
}

#header {
    position: relative
}

#header ul {
    margin: 0;
    padding: 0
}

#header ul li {
    list-style: none;
    float: left;
    display: block
}

#header .menu {
    background-repeat: no-repeat;
    background-position: center
}

#header a.menu {
    display: block;
    height: 61px
}

#header #m1 {
    width: 75px;
    background-image: url(/content/image/menu/rgfwm.gif)
}

#header #m2 {
    width: 144px;
    background-image: url(/content/image/menu/pdfm2.gif)
}

#header #m3 {
    width: 144px;
    background-image: url(/content/image/menu/wordm2.gif)
}

#header #m4 {
    width: 144px;
    background-image: url(/content/image/menu/excel1.gif)
}

#header #m5 {
    width: 144px;
    background-image: url(/content/image/menu/ppt1.gif)
}

#header #m1.on {
    background-color: #f1f1f1;
    background-image: url(/content/image/menu/rgfwm2.gif)
}

#header #m2.on,#header #m2:hover {
    background-color: #f1f1f1;
    background-image: url(/content/image/menu/pdfm.gif)
}

#header #m3.on,#header #m3:hover {
    background-color: #f1f1f1;
    background-image: url(/content/image/menu/wordm.gif)
}

#header #m4.on,#header #m4:hover {
    background-color: #f1f1f1;
    background-image: url(/content/image/menu/excel2.gif)
}

#header #m5.on,#header #m5:hover {
    background-color: #f1f1f1;
    background-image: url(/content/image/menu/ppt2.gif)
}

#header_55la_menu {
    position: absolute;
    left: 1px;
    top: 60px;
    width: 649px;
    height: 400px;
    display: none;
    z-index: 999999
}

.la55_menu {
    background: none repeat scroll 0 0 #fff;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    cursor: default;
    left: 0;
    position: absolute;
    text-align: left;
    top: 15px;
    width: 649px;
    background-color: #fff
}

.la55_menu a {
    text-decoration: none
}

.la55_menu .left-module {
    float: left;
    height: 308px;
    width: 169px;
    border-right: 1px solid #ededed;
    font-size: 14px;
    font-weight: bold
}

.la55_menu .left-module a {
    padding-left: 40px;
    padding-top: 30px;
    display: block;
    height: 16px;
    color: #000
}

.la55_menu .left-module a:hover {
    color: #045db6
}

.la55_menu .left-module .main-links {
    border-bottom: 1px solid #ededed
}

.la55_menu .left-module .main-links .word {
    padding-bottom: 26px
}

.la55_menu .right-module {
    float: left;
    font-size: 14px;
    padding: 30px 0 0 38px
}

.la55_menu .right-module .group .mp-link {
    position: relative;
    color: #cd0102
}

.la55_menu .right-module .group .mp-link i {
    background: url("/content/image/menu/ysp.gif") no-repeat scroll 0 0 transparent;
    display: block;
    height: 14px;
    left: 60px;
    position: absolute;
    top: 2px;
    width: 43px
}

.la55_menu .right-module .group a {
    margin-bottom: 30px;
    color: #000;
    display: block
}

.la55_menu .right-module .group a:hover {
    color: #045db6
}

.la55_menu .right-module .row-0 {
    float: left;
    width: 166px
}

.la55_menu .right-module .row-1 {
    float: left;
    width: 172px
}

.la55_menu .right-module .row-2 {
    float: left
}

.la55_menu .bottom-bar {
    background: none repeat scroll 0 0 #fafafa;
    height: 52px;
    line-height: 52px;
    padding-left: 10px;
    background-color: #f8f8f8;
    padding-right: 40px;
    text-align: right
}

.la55_menu .bottom-bar a {
    color: #666;
    padding-right: 10px
}

.la55_menu .bottom-bar a:hover {
    color: #045db6
}

.la55_menu .up-arrow {
    background: url("/content/image/menu/menu_arrow.png") no-repeat scroll 0 0 transparent;
    height: 10px;
    left: 19px;
    position: absolute;
    top: -9px;
    width: 18px
}

#header .help {
    position: absolute;
    top: 44px;
    right: 9px;
    width: 76px;
    height: 22px;
    background: url(/content/image/help.gif);
    display: block
}

#left {
    background-color: #f1f1f1;
    display: inline-block;
    width: 668px;
    height: 510px;
    float: left
}

#right {
    float: right;
    width: 300px
}

#rgwflink,#downlink,#zxzhlink {
    height: 118px;
    width: 300px;
    display: block;
    margin-bottom: 12px;
    text-decoration: none
}

#rgwflink:hover,#downlink:hover,#zxzhlink:hover {
    opacity: .95;
    filter: alpha(opacity=95)
}

#rgwflink {
    background: #1fadff url(/content/image/rglink.gif) no-repeat center
}

#downlink {
    background: #0aa url(/content/image/dowmlink.gif) no-repeat center
}

#zxzhlink {
    background: #1fadff url(/content/image/zxzh.gif) no-repeat center
}

#rgwflink span,#downlink span,#zxzhlink span {
    padding-left: 16px;
    color: #fff;
    margin-top: 90px;
    display: inline-block
}

#right #ad {
    height: 247px;
    width: 300px;
    overflow: hidden
}

#right #ad iframe {
    height: 247px;
    width: 300px;
    overflow: hidden;
    border: none
}

#qqzx {
    position: absolute;
    right: -50px;
    bottom: 0;
    cursor: pointer
}

#qqzx a {
    display: block;
    height: 43px;
    width: 43px;
    background: url(/Content/image/qq.gif) no-repeat center
}

#qqzx a:hover {
    background-image: url(/Content/image/qq_hover.gif)
}

.btn {
    width: 134px;
    height: 39px;
    display: block;
    background: url(/content/image/btnbg.gif) repeat-x;
    color: #fff;
    line-height: 38px;
    cursor: pointer;
    margin-left: 192px;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 14px
}

.btn2 {
    width: 104px;
    height: 31px;
    display: block;
    background: url(/content/image/btnbg.gif) repeat-x left -78px;
    color: #fff;
    line-height: 31px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none
}

.btn3 {
    width: 104px;
    height: 31px;
    display: block;
    background: url(/content/image/btnbg.gif) repeat-x 0 -43px;
    color: #fff;
    line-height: 31px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none
}

#tipnav {
    margin: 0 auto;
    height: 35px;
    padding: 0;
    width: 290px
}

#tipnav li {
    list-style: none;
    float: left;
    height: 35px;
    background-image: url(/content/image/tipnav.gif);
    line-height: 34px;
    text-align: center;
    font-weight: bold
}

#tipnav .w1 {
    width: 35px;
    background-repeat: no-repeat;
    font-family: ARIAL;
    font-size: 16px
}

#tipnav .w2 {
    width: 86px;
    margin: 0 2px 0 4px;
    display: inline;
    background-repeat: repeat-x
}

#tipnav .red {
    background-position: left -73px;
    color: #fff
}

#tipnav .green {
    background-position: left 0
}

#tipnav .green span {
    display: none
}

#tipnav .hui {
    background-position: left -37px;
    color: #656565
}

#tipnav .dian {
    background-position: 3px -108px
}

#tipnav .dian2 {
    background-position: 3px -145px
}


  #gback {
            height: 510px;
            width: 75px;
            background: url(/content/image/gback.gif) no-repeat right center;
            cursor:pointer;
            float:left;
            display:none;
        }
        #rqm {
            float: right;
            width: 592px;
        }
        #tipnav {
            margin-top: 74px;
            margin-left: 114px;
        }

        #error, #inti, #result, #loading {
            padding-top: 68px;
        }
        #inti {
            color: #9a9a9a;
        }
            #inti .tip {
                margin: 0px;
                height: 23px;
                padding-left: 139px;
                font-size:14px;
            }
            #inti .inputdiv {
                width: 384px;
                margin-left: 68px;
                height: 85px;
            }
                #inti .inputdiv .input {
                    width: 276px;
                    height: 34px;
                    line-height: 34px;
                    overflow: hidden;
                    border: solid 1px #eae6e7;
                    border-top: solid 1px #c4c4c4;
                    background: #fff url(/content/image/input_ico_pdf.gif) no-repeat 5px center;
                    margin-right: 5px;
                    display: inline;
                    text-align: left;
                    padding-left:33px;
                }

        #error {
             display: none;
             text-align:center;
             width:520px;
        }
        #error #errmsg{
            margin-top:19px;
            height:77px;
            color:#656565;
        }
        #loading {
            margin-top: 22px;
            display: none;
            text-align: center;
            width:88%;
        }
            #loading img {
                margin-bottom: 22px;
            }
        #result {
            text-align: center;
            display: none;
        }
            #result img {
                margin-bottom: 48px;
                margin-right:78px;
            }


        .uploadifyQueueItem {
            background-color: white;
            border: 1px solid #E5E5E5;
            margin-top: 3px;
            width: 380px;
        }
            .uploadifyQueueItem .fileName {
                line-height:20px;
                padding-top:2px;
                text-align:center;
                padding-left:10px;
            }
            .uploadifyQueueItem .cancel {
                float: right;
                display: none;
            }
        .uploadifyProgress {
            background-color: #E5E5E5;
            margin: 5px 10px;
        }
        .uploadifyProgressBar {
            background-color: #0099FF;
            height: 3px;
            width: 1px;
        }

        .btndis {
            background-color:#999999;
            background-image:none;
            color:#fff;
        }


            #wenku .wksub {
                line-height: 46px;
                height: 46px;
                color: #8c8c8c;
                font-family: 雅黑;
                font-size: 14px;
            }
            #wenku div.w85 {
                width: 85px;
            }
            #wenku .wkitem {
                float: left;
                height: 191px;
                width: 111px;
                color: #323232;
            }
                #wenku .wkitem .c {
                    width: 85px;
                }
                #wenku .wkitem .pic {
                    width: 84px;
                    height: 124px;
                    border: solid 1px #cccccc;
                    margin-bottom: 9px;
                    position: relative;
                }
                    #wenku .wkitem .pic a {
                        display: block;
                        height: 124px;
                    }
                     #wenku .wkitem .pic em {
                        position: absolute;
                        right: 1px;
                        bottom: 1px;
                        color: #fff;
                        background-color: #a2a2a2;
                        border-radius: 3px 0 0 0;
                        -moz-border-radius: 3px 0 0 0;
                        -webkit-border-radius: 3px 0 0 0;
                        padding: 0px 2px;
                    }
                    #wenku .wkitem .pic img {
                        max-width: 82px;
                        max-height: 122px;
                        border: none;
                    }
                #wenku .wkitem .txt {
                    height: 34px;
                    line-height: 16px;
                    overflow: hidden;
                }
                    #wenku .wkitem .txt a {
                        color: #323232;
                        text-decoration: none;
                    }
                #wenku .wkitem:hover .pic {
                    border: solid 1px #aaa;
                }
                #wenku .wkitem:hover .txt a {
                    color: #111;
                }


                html {
	color: #000;
	background-color: transparent
}

blockquote,body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul {
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border: 0
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: 400
}

ol,ul {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 400
}

q:after,q:before {
	content: ""
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

sup {
	vertical-align: text-top
}

sub {
	vertical-align: text-bottom
}

input,select,textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit
}

legend {
	color: #000
}

body {
	margin: 0;
	padding: 0
}

.bd-logo,.bd-logo4,.feed-logo {
	text-decoration: none;
	cursor: pointer;
	display: none;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2147483647
}

.bd-logo {
	height: 16px;
	width: 16px;
	right: 30px;
	background: url(img/pc-logo_1x.png) no-repeat left top;
	background-size: cover;
	background-position: 0 0
}

.bd-logo:hover {
	width: 52px;
	height: 16px;
	right: 30px;
	background: url(img/pc-logo-marketing_1x.png) no-repeat left top;
	background-size: cover
}

.bd-logo4 {
	height: 14px;
	width: 14px;
	bottom: 0;
	right: 26px;
	background: url(img/mob-logo_2x.png) no-repeat left top;
	background-size: cover;
	background-position: center
}

.feed-logo {
	width: 12px;
	height: 12px;
	background: url(img/feedLogo.png) no-repeat left top;
	background-size: cover
}

.loader {
	text-align: center;
	width: 90%;
	font-size: 9pt;
	padding: 8px;
	border: 1px solid #aaa;
	margin-top: 30px;
	display: none
}

.cf:after,.cf:before {
	content: "\20";
	display: table
}

.cf:after {
	clear: both
}

.textOverflow {
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	width: 100%
}

.textOverflowEllipsis {
	text-overflow: ellipsis
}

.textOverflowClip {
	text-overflow: clip
}

.bd-adIcon {
	width: 30px;
	height: 16px;
	background: url(img/pc-adIcon_1x.png) no-repeat left top;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,src="img/pc-adIcon_2x.png",sizingMethod="scale")
}

.bd-adIcon,.mob-bd-adIcon,.feed-adIcon {
	position: absolute;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 2147483647;
	text-decoration: none
}

.mob-bd-adIcon {
	width: 26px;
	height: 14px;
	background: url(img/mob-adIcon_2x.png) no-repeat left top;
	background-size: cover
}

.feed-adIcon {
	width: 23px;
	height: 12px;
	background: url(img/feedIcon.png) no-repeat left top;
	background-size: cover
}